.screen {
  width: 1000px;
  height: 600px;
  border: solid black 1px;
  margin: 250px auto;
  padding: 5px;
}

.tab {
  width: 1000px;
  height: 600px;
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
  background-color: antiquewhite;
}
