:root {
  --bright-yellow: #ffe400;
  --light-yellow: #f9f6dd;
  --yellow: #fff7b1;
  --cash-green: #4faa39;
}

body {
  background: URL("./images/background.png") no-repeat center fixed;
  background-size: cover;
  font-family: "Mouse Memoirs", sans-serif;
}

/*********** Styles for reusable buttons ***********/
.main-btn {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 4vh;
  background-color: var(--bright-yellow);
  width: 100%;
  height: 100%;
  border-radius: 999px;
  margin: 2.5px;
}
.secondary-btn {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 4vh;
  background-color: var(--light-yellow);
  width: 100%;
  height: 100%;
  border-radius: 999px;
  margin: 2.5px;
}

/*********** Styles for reusable img ***********/
.img-stand {
  width: 40vh;
}

.img-duck {
  width: 12vh;
}

.img-human {
  width: 8vh;
}

/*********** Styles for start screen ***********/
#start-game-screen {
  position: absolute;
  width: 100%;
  height: 100%;
}

#title {
  position: absolute;
  left: 4%;
  bottom: 5%;
  font-size: 15vh;
  font-weight: 400;
  text-shadow: 4px 0 black, -4px 0 black, 0 4px black, 0 -4px black,
    3px 3px black, -3px -3px black, 3px -3px black, -3px 3px black;
  color: var(--bright-yellow);
  margin: 0px;
}

#start-screen-btns {
  position: absolute;
  right: 4%;
  bottom: 5%;
  width: 20vw;
  height: 16vh;
}

#img-stand-start-screen {
  position: absolute;
  top: 8%;
  right: 15%;
}

#img-human-start-screen {
  position: absolute;
  top: 19%;
  right: 25%;
  z-index: -1;
}

#img-duck-start-screen {
  position: absolute;
  bottom: 5%;
  left: 20%;
}

/*********** Styles for day start screen ***********/
#day-start-screen {
  background-color: var(--light-yellow);
  width: 80vw;
  height: 80vh;
  padding: 20px;
  /* to center it vertically and horizontally */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#day-start-screen h1 {
  font-size: 6vh;
  text-align: center;
  margin: 0 0 1vh 0;
}

#day-start-screen-header {
  display: flex;
  flex-direction: row;
}

#inventory-pricing-header {
  font-size: 3.5vh;
  text-shadow: 3px 0 black, -3px 0 black, 0 3px black, 0 -3px black,
    2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
  color: var(--bright-yellow);
  margin: 2vh 5vw 0 2.5vw;
}

#weather-header,
#recipe-header,
#tips-header {
  font-size: 3.5vh;
  text-shadow: 3px 0 black, -3px 0 black, 0 3px black, 0 -3px black,
    2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
  color: var(--light-yellow);
  margin: 2vh 5vw 0 0;
}

#weather-report-section {
  /* Hide weather section */
  display: none;
}

#day-start-screen-cash-bal {
  font-size: 3.5vh;
  margin: 3vh 0 0 2.3vw;
}

#day-start-screen-cash-bal span {
  font-size: 3.5vh;
  color: var(--cash-green);
  text-shadow: 3px 0 black, -3px 0 black, 0 3px black, 0 -3px black,
    2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
}

#inventory-bal-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3.7vh 0 0 0;
  width: 100%;
}

.inv-buy-more-container {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  margin: 0 2vw;
  width: 70%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inv-buy-more-container h2 {
  font-size: 3vh;
  margin: 2.5vh 0 2.5vh 0;
}

.inv-buy-more-container p {
  font-size: 2vh;
  margin: 0.5vh 0 0.5vh 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  margin: 1vh 0 5vh 0;
}

#inventory-btns {
  display: flex;
  flex-direction: row;
}

.inventory-btn {
  font-size: 2.5vh;
  margin: 0.5vh 0;
  padding: 0.5vh 0;
}

#price-per-cup {
  font-size: 3.5vh;
  margin: 6vh 0 0 2.3vw;
}

#price-input {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 3vh;
  margin: 0 1vw;
}

#open-shop-btn {
  position: absolute;
  right: 4%;
  bottom: 4%;
  font-size: 4vh;
  width: 12vw;
  height: 6vh;
}

/*********** Styles for day simulation screen ***********/
#day-simulation-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#day-simulation-dashboard {
  background-color: var(--light-yellow);
  width: 100vw;
  height: 15vh;
  padding: 20px;
  margin: 0;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

#img-stand-simulation-screen {
  position: absolute;
  top: 8%;
  left: 40%;
}

#img-human-simulation-screen {
  position: absolute;
  top: 18%;
  left: 50%;
  z-index: -1;
}

#close-shop-btn {
  position: absolute;
  right: 4%;
  bottom: 4%;
  font-size: 4vh;
  width: 12vw;
  height: 6vh;
}

#dashboard-details {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: row;
}

#dashboard-details h1 {
  font-size: 4vh;
  text-align: center;
  margin: 0 2.5vw;
}

#dashboard-details p {
  font-size: 4vh;
  margin: 0 2.5vw;
  text-align: center;
}

/*********** Styles for day end screen ***********/
#day-end-screen {
  background-color: var(--light-yellow);
  width: 80vw;
  height: 80vh;
  padding: 20px;
  /* to center it vertically and horizontally */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#day-end-screen h1 {
  position: relative;
  font-size: 6vh;
  text-align: center;
  margin: 0 0 1vh 0;
  color: var(--bright-yellow);
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

#sales-details {
  font-size: 4vh;
  text-align: center;
}

#cups-sold,
#num-of-customers {
  color: var(--cash-green);
}

#report-details {
  display: flex;
  flex-direction: row;
  font-size: 3.5vh;
  position: absolute;
  left: 22%;
}

#details-type,
#details-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#details-type {
  margin: 0 2vw;
}

#details-type p {
  margin: 2vh;
}

#details-value div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 18vw;
}

#details-value p {
  margin: 2vh 0;
  text-align: left;
}

.details-color {
  color: var(--cash-green);
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.details-value-name {
  flex-grow: 2;
}

#prep-next-day-btn {
  position: absolute;
  bottom: 2%;
  right: 1%;
  width: 20vw;
  height: 8vh;
}
